
<html lang="en">

<head>
	<title>intelliVISION</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--            css online includes         -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    
    <!-- Latest compiled and minified CSS -->
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}">
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--            js online includes          -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- jQuery library -->
    <script src="{% static 'personal/js/jquery.min.js' %}"></script>
    
    
    <!-- Latest compiled Bootstrap JavaScript -->
    <script src="{% static 'personal/js/bootstrap.min.js' %}"></script>
    
    <!-- d3 v4 JavaScript visualization library -->
    <script src="{% static 'personal/js/d3.v4.min.js' %}"></script>
    <script src="{% static 'personal/js/d3-tip.js' %}"></script>
 

    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--            css local includes          -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--    Load c3js charting library styles   -->
    <link rel="stylesheet" href="{% static 'personal/css/c3.css' %}">
    <!--         Load custom -AIM styles        -->
    <link rel="stylesheet" href="{% static 'personal/css/styles.css' %}">
    
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--            js local includes           -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--    jasondavies d3 word cloud library   -->
	<script src="{% static 'personal/js/d3.layout.cloud.js' %}"></script>
    <!--  Load c3js charting library JavaScript -->
    <script src="{% static 'personal/js/c3.min.js' %}"></script>


    <style>
    .navbar.nav.navbar-toggle a:hover {
        background-color: aqua;
    }
    .nav{
        border-bottom: 1px lighter grey;
    }
 
    html {
      scroll-behavior: smooth;
    }
   
    </style>
    
</head>

<body class="bodystyle" style="color:#5E5E5E">
    <script>
        /*    *******************    */
        /*    *******************    */
        /* *** Global Variables ***  */
        /*    *******************    */
        /*    *******************    */
        var candidateIndex=0;
       
        console.log("post <> req");
        
  
        
        
        /*    *******************    */
        /*    *******************    */
        /* *** Global Functions ***  */
        /*    *******************    */
        /*    *******************    */
        function changeSelection(index){
            console.log("candidate : ",index);
            candidateIndex=index; 
        }
        function myscroll(index){
        
            if (index=='0'){
                window.scroll(0,0);
            }
            if (index=='1'){
                
                var myElement = document.getElementById('scrollEntitySignificance');
                var topPos = myElement.offsetTop;
                console.log("toppos : ", topPos);
                
                window.scroll(0,topPos-130);
            }
            if (index=='2'){
                
            
                var myElement = document.getElementById('scrollSentimentSummary');
                var topPos = myElement.offsetTop;
                console.log("toppos : ", topPos);
                
                window.scroll(0,topPos);
                
               
            }
            
            
        }
        
      
        
    </script>
    
    <nav id="mynavbar" class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;" >
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
              {% load staticfiles %}
             <img style="padding-bottom:5px;" src="{% static 'personal/img/logo.png' %}" alt="logo" width="25*6.9930069" height="25">   
            
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav" role="menu">
            <li ><a href="javascript: onClick=myscroll('0')">Raw Tweets</a> <!--<span class="sr-only">(current)</span>--> </li> 
            <li ><a href="javascript: onClick=myscroll('1')" >Entity Significance</a></li>
            <li ><a href="javascript: onClick=myscroll('2')" >Sentiments Summary</a></li>  
              

            <li class="dropdown">
              <a  href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Candidate <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a   href="/personal/index/0">Imran Khan</a></li>
                <li><a   href="/personal/index/1">Nawaz Sharif</a></li>
                <li><a   href="/personal/index/2">Maryam Nawaz</a></li>
                <li><a   href="/personal/index/3">Zardari</a></li>
                <li><a   href="/personal/index/4">Shehbaz Sharif</a></li>
                <li><a   href="/personal/index/5">Sheikh Rashid</a></li>
                <li><a   href="/personal/index/6">Asad Umar</a></li>
                <li><a   href="/personal/index/7">Bilawal Bhutto</a></li>
             

                <!--<li class="divider"></li>
                <li><a href="#">One more separated link</a></li>-->
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/AIM-FYP/FYP_Django_WebApp">
                <img  src="{% static 'personal/img/Git-Logo-White.png' %}" alt="git" width="21*2.3947" height="21">
                
                </a></li>
          </ul>
        </div>
      </div>
    </nav>



    <div>
       {% block content %}
    
       {% endblock %}	
    </div>
	
	
    <script>
        
        raw_tweets_Data                 = {{ raw_tweets_Data              | safe }};
        sentiment_summary_donut_Data    = {{ sentiment_summary_donut_Data | safe }};
        sentiment_summary_word_Data     = {{ sentiment_summary_word_Data  | safe }};
        entity_significance_wordcloud_Data   = {{ entity_significance_wordcloud_Data  | safe }};
        entity_significance_bar_Data    = {{ entity_significance_bar_Data  | safe }};
        sentiment_summary_linechart_Data= {{ sentiment_summary_linechart_Data | safe}}
        
        
        console.log("here1 : ",entity_significance_wordcloud_Data);
        console.log("here2 : ",sentiment_summary_linechart_Data);
    </script>>

    
    <script src="{% static 'personal/js/raw_tweets.js' %}"></script>

    <script src="{% static 'personal/js/sentiment_summary_donut.js' %}"></script>

    <!--  More significance in next versions <script src="{% static 'personal/js/sentiment_summary_guage.js' %}"></script>-->

    <script src="{% static 'personal/js/sentiment_summary_barchart.js' %}"></script>

    <script src="{% static 'personal/js/sentiment_summary_wordcloud.js' %}"></script>

    <script src="{% static 'personal/js/entity_significance_wordcloud.js' %}"></script>

    <script src="{% static 'personal/js/entity_significance_barchart.js' %}"></script>
    
    <script src="{% static 'personal/js/event_chart.js' %}"></script>


    
</body>

</html>