{% extends "personal/header.html" %}

{% block content %}


<!-- ************************************** -->
<!-- ************************************** -->
<!-- ************************************** -->
<!--   intelliVision WEB App - Home_Page    -->
<!-- ************************************** -->
<!-- ************************************** -->
<!-- ************************************** -->


<br><br>    
      
<div class="container">
  <div class="row">
        <div class="col-lg-4"> 
             <div class="divTable blueTable">
             <div class="divTableHeading">
                                <div class="divTableRow">
                                    <div class="divTableHead">
                                        
                                        <div class="mainHeading">
                                        Raw Tweets
                                        </div>
                                    
                                    </div>
                                </div>
                            </div> 
            </div>
          </div>
       </div>
</div>
    
<div id="rawtweets" class="container">
  <div class="row">
    <div id="leftdiv" class="col-lg-4">
        
                          <div class="divTable blueTable">

                            <div class="divTableHeading">
                                <div class="divTableRow">
                                    <div class="divTableHead" >Top Positive Tweets</div>
                                </div>
                            </div>   

                            <div class="divTableBody">
                            <!-- *****  Tweets here ***** -->     
                            </div>     
                        </div>
  </div>  
      
      
    <div id="middiv" class="col-lg-4">
      
                        <div class="divTable blueTable">

                        <div class="divTableHeading">
                            <div class="divTableRow">
                                <div class="divTableHead">Top Negative Tweets</div>
                            </div>
                        </div>   

                        <div class="divTableBody">
                        <!-- *****  Tweets here ***** -->     
                        </div>     
    </div>
        
      
      </div>
      <div id="rightdiv" class="col-lg-4">

                          <div class="divTable blueTable">

                        <div class="divTableHeading">
                            <div class="divTableRow">
                                <div class="divTableHead">Top Neutral Tweets</div>
                            </div>
                        </div>   

                        <div class="divTableBody">
                        <!-- *****  Tweets here ***** -->     
                        </div>     
                    </div>         
      </div>
    
  </div>
  
</div>
    
     
    <div class="container">
      <div class="row">
            <div class="col-lg-4"> 
                 <div class="divTable blueTable">
                 <div class="divTableHeading">
                    <div class="divTableRow">
                        <div class="divTableHead">

                            <div class="mainHeading">
                                Entity Significance
                            </div>

                        </div>
                    </div>
                 </div> 
                </div>
              </div>
           </div>
    </div>
    
    
    <div class="container">
        <div class="row">
            <div class="col-lg-8"> 
                 
                <!-- Word Cloud Here -->
                <div class="divTable blueTable">
                    <div class="divTableBody">
                    
                        <div id="demo" class="divTableRow">

                            <div class="divTableCell">
                                <div id="wordcloud2">
                                    <!-- Generic Word Cloud Here -->
                                </div>

                            </div>
                        </div>   
                    </div>     
                </div>
                
                
              
            </div>
            
            <div class="col-lg-4"> 
                 
                <!-- Bar Chart Here -->
              <div class="divTable blueTable">
                    <div class="divTableBody">
                    
                        <div id="demo" class="divTableRow">

                            <div class="divTableCell">
                                 <div id="barchart1"></div>

                            </div>
                        </div>   
                    </div>     
                </div>
               
                
                
                
            </div>
            
            
        </div>
    </div>




    <div class="container">
      <div class="row">
            <div class="col-lg-4"> 
                 <div class="divTable blueTable">
                 <div class="divTableHeading">
                    <div class="divTableRow">
                        <div class="divTableHead">

                            <div class="mainHeading">
                            Sentiments Summary
                            </div>

                        </div>
                    </div>
                </div> 
                </div>
              </div>
           </div>
    </div>
    

    <div class="container">
        <div class="row">
            <div class="col-lg-4"> 
                 
               
                <div class="divTable blueTable">
                    <div class="divTableBody">
                    
                        <div id="demo" class="divTableRow">

                            <div class="divTableCell">
                                <div id="donut">
                                    <!-- *****  Donut here ***** --> 
                                </div>

                            </div>
                        </div>   
                    </div>     
                </div>
                
                
              
            </div>
            
            <div class="col-lg-4"> 
                 
            
              <div class="divTable blueTable">
                    <div class="divTableBody">
                    
                        <div id="demo" class="divTableRow">

                            <div class="divTableCell">
                                 <div id="wordcloud1"></div>

                            </div>
                        </div>   
                    </div>     
                </div>   
            </div>
            
            
            <div class="col-lg-4"> 
                 
           
              <div class="divTable blueTable">
                    <div class="divTableBody">
                    
                        <div id="demo" class="divTableRow">

                            <div class="divTableCell">
                                 <div id="chart1"></div>

                            </div>
                        </div>   
                    </div>     
                </div>
               
                
                
                
            </div>
            
            
            
        </div>
    </div>






<!-- small snippet includes -->
<!-- {% include "personal/includes/htmlsnippet.html" %} -->

{% endblock %}


	