

{% block content %}
    <head>
	<title>intelliVISION</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--            css online includes         -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    
    <!-- Latest compiled and minified CSS -->
        {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}">
    
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--            js online includes          -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- jQuery library -->
    <script src="{% static 'personal/js/jquery.min.js' %}"></script>

    <!-- Latest compiled Bootstrap JavaScript -->
    <script src="{% static 'personal/js/bootstrap.min.js' %}"></script>

    
    <!-- d3 v4 JavaScript visualization library -->
    <script src="{% static 'personal/js/d3.v4.min.js' %}"></script>

    
    
    
	{% load staticfiles %}
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--            css local includes          -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--    Load c3js charting library styles   -->
    <link rel="stylesheet" href="{% static 'personal/css/c3.css' %}">
    <!--         Load custom -AIM styles        -->
    <link rel="stylesheet" href="{% static 'personal/css/styles.css' %}">
    
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--            js local includes           -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!-- ************************************** -->
    <!--    jasondavies d3 word cloud library   -->
	<script src="{% static 'personal/js/d3.layout.cloud.js' %}"></script>
    <!--  Load c3js charting library JavaScript -->
    <script src="{% static 'personal/js/c3.min.js' %}"></script>


    <style>
    .navbar.nav.navbar-toggle a:hover {
        background-color: aqua;
    }
    .nav{
        border-bottom: 1px lighter grey;
    }

   
    </style>
    
</head>

<body style="background-color:#fcfbf8;color:#5E5E5E">
    <div class="container-fluid jumbotron" style="background-color:black;height:60%;">
        <div class="container">
            <h1 style="color:white;margin-left:30px; "> 
                {% load staticfiles %}
             <img src="{% static 'personal/img/logo.png' %}" alt="logo" width="75*6.9930069" height="75"> 
                
 
            </h1>
              <p style="color:lightgrey;margin-left:30px; ">Analyze Approval Rating of political candidates from tweets sentiments. Multiple visualizations to identity trends and events. </p>
            <br>
              <p><a class="btn btn-primary btn-lg" style="margin-left:30px; " href="/personal/home">To App</a></p>
        
        </div>
    </div>
    
    <div class="container">
        <br>
        <br>
        <h2 style="margin-left:30px;color:black;">
        Why someone has to do it?
        </h2>
        <h5 style="margin-left:30px;"><br>
        Twitter is being populated with thousands of tweets every day. Number of tweets that are talking about politicians is somehow useless if we can't find an easy way to analyse the data. Just manually looking at the raw tweets doesn't scale, there's just too many of them. They remain unreasonable, unless we are aware of What are these people saying? What do they think? What are their opinions? How do they feel?
            </h5><br><br>
              <small style="padding-left:80%;color:#5E5E5E;">Approval Rating WebApp by - <cite title="Source Title">intelliVision</cite></small>
        
    </div>
    


</body>



<!-- Data Extraction -->



{% endblock %}